# Módulo 5 - Usar operaciones matemáticas - Kata 5

## Ejercicio 1: Utilizar operadores aritméticos

### Operadores aritméticos en Python

Python proporciona operadores aritméticos comunes para que puedas realizar operaciones matemáticas en tu código. Estos incluyen las cuatro operaciones principales de suma, resta, multiplicación y división.

Exploremos cómo podemos crear un programa que pueda calcular la distancia entre dos planetas. Comenzaremos usando dos distancias de planetas: Tierra (149.597.870 km) y Júpiter (778.547.200 km).

In [1]:
tierra_km = 149597870 #km
jupiter_km = 778547200 #km

### Realizar la operación

Con los valores obtenidos, es el momento de añadir el código para realizar la operación. Restarás el primer planeta del segundo para determinar la distancia en kilómetros. A continuación, puedes convertir la distancia del kilómetro en millas multiplicándola por 0.621.

In [2]:
tierra_millas = tierra_km * 0.621
jupiter_millas = jupiter_km * 0.621

distancia_km = jupiter_km - tierra_km

distancia_millas = jupiter_millas - tierra_millas

### Prueba tu proyecto

In [47]:
print (round(distancia_km))
print (round(distancia_millas))

628949330
390577534

## Ejercicio 2: Convierte cadenas en números y usa valores absolutos

### Crear una aplicación para trabajar con números y entrada de usuario

Con frecuencia, deberás convertir los valores de cadena en números para realizar correctamente diferentes operaciones o determinar el valor absoluto de un número.

Para crear nuestra aplicación, queremos leer la distancia del sol para dos planetas, y luego mostrar la distancia entre los planetas. Haremos esto usando input para leer los valores, int para convertir a entero y luego abs para convertir el resultado en su valor absoluto.

### Lee los valores

Usando input, agrega el código para leer la distancia del sol para cada planeta, considerando 2 planetas.

In [ ]:
primer_planeta = input ('Distancia del primer planeta: ')
segundo_planeta = input ('Distancia del segundo planeta: ')

### Convertir un número

Debido a que input devuelve valores de cadena, necesitamos convertirlos en números. Para nuestro ejemplo, usaremos int

In [56]:
primer_planeta = int (input ('Distancia del sol al primer planeta: '))
segundo_planeta = int (input ('Distancia del sol al segundo planeta: '))

### Realizar el cálculo y convertir a valor absoluto

Con los valores almacenados como números, ahora puedes agregar el código para realizar el cálculo, restando el primer planeta del segundo. Debido a que el segundo planeta podría ser un número mayor, usarás abs para convertirlo a un valor absoluto. También agregarás el código para mostrar el resultado en millas multiplicando la distancia del kilómetro por 0.621

In [57]:
dis_km = abs(segundo_planeta - primer_planeta)
dis_mill = abs((segundo_planeta - primer_planeta)*0.621)

### Prueba tu proyecto

In [58]:
print ('Distancia en kilometros: ' + str(dis_km))
print ('Distancia en millas: ' + str(dis_mill))

Distancia en kilometros: 50
Distancia en millas: 31.05

## Prácticas Módulo 5 - Operaciones matemáticas

### Suma

In [3]:
suma = 4 + 2
print (suma)

6

### Resta

In [4]:
resta = 4 - 2
print (resta)

2

### Multiplicación

In [5]:
mult = 4 * 2
print (mult)

8

### División

In [6]:
div = 4 / 2
print (div)

2.0

In [7]:
seconds = 1042

In [8]:
seconds = 1042
display_minutes = 1042 // 60
print(display_minutes)

17

In [9]:
seconds = 1042
display_minutes = 1042 // 60
display_seconds = 1042 % 60

print(display_minutes)
print(display_seconds)

17
22

### Orden de funcionamiento (Jerarquía de Operaciones)

In [10]:
result_1 = 1032 + 26 * 2
result_2 = 1032 + (26 * 2)

print (result_1)
print (result_2)

1084
1084

### Convertir cadenas en números

In [11]:
demo_int = int('215')
print(demo_int)

215

In [12]:
demo_float = float('215.3')
print(demo_float)

215.3

### Valores absolutos

In [13]:
a = 39 - 16
b = 16 - 39

In [14]:
print(abs(39 - 16))
print(abs(16 - 39))

23
23

### Redondeo

In [15]:
print(round(14.50))

14

### Bilbioteca Math

In [16]:
from math import ceil, floor

round_up = ceil(12.5)
print(round_up)

round_down = floor(12.5)
print(round_down)

13
12