# Módulo 4 - Cadenas - Kata 4

### Ejercicio 1: Transformar cadenas
El texto con el que trabajarás es el siguiente:

In [1]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth.
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

Primero, divide el texto en cada oración para trabajar con su contenido:

In [2]:
division = text.split('.')
print (division)

['Interesting facts about the Moon', " The Moon is Earth's only satellite", ' There are several interesting facts about the Moon and how it affects life here on Earth', '\nOn average, the Moon moves 4cm away from the Earth every year', ' This yearly drift is not significant enough to cause immediate effects on Earth', ' The highest daylight temperature of the Moon is 127 C', '']

Ahora, define algunas palabras clave para búsqueda que te ayudarán a determinar si una oración contiene un hecho.

In [3]:
kw = ['average', 'temperature', 'distance']
print (kw)

['average', 'temperature', 'distance']

Cree un bucle para imprimir solo datos sobre la Luna que estén relacionados con las palabras clave definidas anteriormente:

In [4]:
for i in division:
    for j in kw:
        if j in i:
         print (i)
         break

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

Finalmente, actualiza el bucle(ciclo) para cambiar C a Celsius:

In [5]:
for i in division:
    for j in kw:
        if j in i:
         print (i.replace('C','Celsius'))
         break

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celsius

### Ejercicio 2: Ejercicio 2: Formateando Cadenas
Saber cómo dar formato a las cadenas es esencial cuando se presenta información de un programa. Hay algunas maneras diferentes de lograr esto en Python. En este ejercicio, se utilizan variables que contienen datos clave sobre la gravedad en varias lunas y luego se utilizan para dar formato e imprimir la información.

El formato tiene que acomodar información sobre otras lunas, por lo que debe ser genérico.

En lugar de reemplazar las variables en una cadena larga como parte de un párrafo, utiliza la información para presentarla en un formato tabular. El resultado debería verse así:

In [6]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

Primero, crea un título para el texto. Debido a que este texto trata sobre la gravedad en la Tierra y la Luna, úsalo para crear un título significativo. Utiliza las variables en lugar de escribir.

In [7]:
tittle = f'Gravity Facts about {name}'.title()
print (tittle)

Gravity Facts About Moon

Ahora crea una plantilla de cadena multilínea para contener el resto de la información. En lugar de usar kilómetros, debes convertir la distancia a metros multiplicando por 1,000.

In [8]:
conversion = f'{gravity*1000}'
gravedad = ('Gravity on '+ f'{name}'+ ': ' + str(conversion) + ' m/s2')
planeta = ('Planet name: ' + f'{planet}')

Finalmente, usa ambas variables para unir el título y los hechos.

In [9]:
print (tittle)

for k in range (35): 
    print ('-', end = ' ') 

print ('\n')
print (planeta)
print (gravedad)

Gravity Facts About Moon
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Planet name: Earth
Gravity on Moon: 1.6199999999999999 m/s2

In [10]:
plantilla = f""" {tittle}\n {'-'*80} 
Planet name: {planet}
Gravity on {name}: {gravity*1000} m/s2 """
print (plantilla)

 Gravity Facts About Moon
 --------------------------------------------------------------------------------
Planet name: Earth
Gravity on Moon: 1.6199999999999999 m/s2

Ahora usa información de una luna diferente para ver si la plantilla todavía funciona.

In [11]:
# Datos nuevos
planet = 'Marte'
gravity  = 0.00143
name = 'Ganímedes'

In [12]:
#Plantilla
print (plantilla)

 Gravity Facts About Moon
 --------------------------------------------------------------------------------
Planet name: Earth
Gravity on Moon: 1.6199999999999999 m/s2

La salida no muestra información sobre Marte. Todavía muestra información sobre la Luna. Esto sucede porque las cadenas f están ansiosas en su evaluación, por lo que las variables una vez asignadas no se pueden reasignar. Para evitar este problema, vuelva a hacer la plantilla para utilizar .format():

In [13]:
nueva_plantilla = f""" Gravity Facts about {name}\n 
{'-'*80} 
Planet name: {planet}
Gravity on {name}: {gravity*1000} m/s2 """ .format (tittle=tittle,planet=planet,name=name,gravity=gravity)

print (nueva_plantilla)

 Gravity Facts about Ganímedes

--------------------------------------------------------------------------------
Planet name: Marte
Gravity on Ganímedes: 1.4300000000000002 m/s2

Debido a que .format() no permite expresiones, la gravedad en Ganímedes es incorrecta. Asegúrese de que la operación se realiza fuera de la plantilla de formato e imprima de nuevo para ver el resultado de trabajo.

In [ ]:
print (nueva_plantilla.format (tittle=tittle,planet=planet,name=name,gravity=gravity*1000))

## Prácticas Módulo 4 - Cadenas

### Inmutabilidad de las cadenas

In [14]:
fact = 'The Moon has no atmosphere.'
fact + 'No sound can be heard on the Moon.'

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [15]:
fact

'The Moon has no atmosphere.'

In [16]:
two_facts = fact + 'No sound can be heard on the Moon.'

two_facts

'The Moon has no atmosphere.No sound can be heard on the Moon.'

### Acerca del uso de comillas

In [17]:
moon_radius = "The Moon has a radius of 1,080 miles"

In [18]:
'The "near side" is the part of the Moon that faces the Earth'

'The "near side" is the part of the Moon that faces the Earth'

In [19]:
"We only see about 60% of the Moon's surface"

"We only see about 60% of the Moon's surface"

In [20]:
texto = """We only see about 60% of the Moon's surface, this is known as the "near side"."""

### Texto multilínea

In [21]:
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

In [22]:
multiline = """Facts about the Moon:
...  There is no atmosphere.
...  There is no sound."""
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

### Métodos string en Python

In [23]:
'temperaures and facts about the moon'.title()

'Temperaures And Facts About The Moon'

In [24]:
heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

In [26]:
nombre = input('Nombre: ')
apellido = input('Apellido: ')
print ('Bienvenido: ' + nombre.title() + ' ' + apellido.title())

Bienvenido: Jose Rojo

In [52]:
nombre = 'joSE'
apellido = 'rOJo'
print (nombre.title() + ' ' + apellido.title())

Jose Rojo

### Dividir una cadena

In [27]:
temperatures = '''Daylight: 260 F 
... Nighttime: -280 F'''
temperatures.split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [51]:
temperatures = '''Daylight: 260 F, Nighttime: -280 F'''
temperatures .split()

['Daylight:', '260', 'F,', 'Nighttime:', '-280', 'F']

In [25]:
temperatures .split('\n')

['Daylight: 260 F', 'Nighttime: -280 F']

### Buscar cadena

In [54]:
'Moon' in 'This text will describe facts and challenges with space travel'

False

In [55]:
'Moon' in 'This text will describe facts about the Moon'

True

In [56]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""

temperatures.find('Moon')

-1

In [57]:
temperatures.find('Mars')

64

In [58]:
temperatures.count('Mars')

1

In [59]:
temperatures.count('Moon')

0

In [60]:
"The Moon And The Earth".lower()

'the moon and the earth'

In [61]:
'The Moon And The Earth'.upper()

'THE MOON AND THE EARTH'

### Comprobar el contenido

In [83]:
temperatures = 'Mars Average Temperature: -60 C'

parts = temperatures.split(':')
parts

['Mars Average Temperature', ' -60 C']

In [90]:
parts[-2]

'Mars Average Temperature'

In [8]:
mars_temperature = 'The highest temperature on Mars is about 30 C'

In [16]:
for item in mars_temperature.split():
     if item.isnumeric():
        print(item)

30

In [ ]:
for item in mars_temperature.split():
    print (item)

In [17]:
'-60'.startswith('-')

True

In [18]:
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

This temperature is in Celsius

### Transformar texto

In [19]:
'Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius.'.replace('Celsius', 'C')

'Saturn has a daytime temperature of -170 degrees C, while Mars has -28 C.'

In [20]:
text = 'Temperatures on the Moon can vary wildly.'
'temperatures' in text

False

In [21]:
text = 'Temperatures on the Moon can vary wildly.'
'temperatures' in text.lower()

True

In [22]:
moon_facts = ['The Moon is drifting away from the Earth.', 'On average, the Moon is moving about 4cm every year']
'\n'.join(moon_facts)

'The Moon is drifting away from the Earth.\nOn average, the Moon is moving about 4cm every year'

### Formato de cadenas en Python

In [23]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about %s of your weight on Earth' % mass_percentage)

On the Moon, you would weigh about 1/6 of your weight on Earth

In [27]:
print("""Both sides of the %s get the same amount of sunlight,
    but only one side is seen from %s because
    the %s rotates around its own axis when it orbits %s.""" % ('Moon', 'Earth', 'Moon', 'Earth'))

Both sides of the Moon get the same amount of sunlight,
    but only one side is seen from Earth because
    the Moon rotates around its own axis when it orbits Earth.

In [29]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about {} of your weight on Earth'.format(mass_percentage))

On the Moon, you would weigh about 1/6 of your weight on Earth

In [31]:
mass_percentage = '1/6'
print("""You are lighter on the {0}, because on the {0} 
... you would weigh about {1} of your weight on Earth""".format("Moon", mass_percentage))

You are lighter on the Moon, because on the Moon
... you would weigh about 1/6 of your weight on Earth

In [32]:
mass_percentage = '1/6'
print("""You are lighter on the {moon}, because on the {moon} 
... you would weigh about {mass} of your weight on Earth""".format(moon="Moon", mass=mass_percentage))

You are lighter on the Moon, because on the Moon
... you would weigh about 1/6 of your weight on Earth

In [33]:
print(f'On the Moon, you would weigh about {mass_percentage} of your weight on Earth')

On the Moon, you would weigh about 1/6 of your weight on Earth

In [38]:
round(100/6, 5)

16.66667

In [39]:
print(f'On the Moon, you would weigh about {round(100/6, 1)}% of your weight on Earth')

On the Moon, you would weigh about 16.7% of your weight on Earth

In [40]:
subject = 'interesting facts about the moon'
f'{subject.title()}'

'Interesting Facts About The Moon'